	<% include ./partials/head %>
	<main>
		<div class="jumbotron">
			<h2>Nodejs + ejs + ArangoDB</h2>
			<p>Welcome to <%= title%></p>
			<p>ejs View engine</p>
		</div>
	</main>
	<% include ./partials/footer %>